body{
    background-image: url("images/bgimg.jpg");
    font-family: "Open Sans", sans-serif;    
}

.start{
    border-bottom: 1px solid rgb(32, 24, 24);
    padding-bottom: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #302121;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(31, 24, 124, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(54, 20, 175);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content 
{
    display: block;
}
.nav{
    color: blue !important;
    font-weight: bolder !important;
}
.k:hover{
    color: black !important;
    font-weight: 100px !important;
}
.k{
    color: blue !important;
}
.btn1{
    color: white !important;
    background-color: blue !important;
    /* z-index: 30; */
}
.btn1:hover{
    color: black !important;
    background-color: rgb(171, 171, 226) !important;
}
.fot2{
    color: whitesmoke !important;
}
.fotlink{
    text-decoration: none !important;
    color: white !important;
}
.fotlink:hover{
    text-decoration: none !important;
    color: rgb(95, 95, 240) !important;
}
.link{
    text-decoration: none !important;
    color: black;
}
.bg_footer{
    background-color: black !important;
    color: white;
}

.first{
    display: inline-block;
    margin-left: 40px;
    }
    .img{
        height: 106px;
        margin: -28px;
        border: 0%;
        padding-bottom: 0%;
    }
    .p1{
        font-size: 24px;
        line-height: 28px;
        width: auto;
        padding-bottom: 20px;
    }
    
    .i1{
        margin-top: 15px;
        display: block;
        margin-bottom: 1em;
        border-radius: 6px;
    
        font-size: 17px;
        padding: 14px 16px;
        width: 310px;
        border: 1px solid black;
    }
    .i2{
        margin-top: 15px;
        cursor: pointer;
        display: block;
        margin-bottom: 1em;
        border-radius: 6px;
        border: 1px solid black;
        font-size: 17px;
        padding: 14px 16px;
        width: 310px;
    }
    .i1:focus,.i2.focus {
            background-color: #ffffff; 
            border: 1px solid blue;
    }
    
    .second{
        margin-top: 7em;
        display: inline-block;
        /* background-color: white; */
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 4em;
        padding-left: 4em;
        border-radius: 10px;
        margin-left: 7em;
        /* border: 1px solid black; */
        }
        .fs{
            font-size: 11px;
        }
    .login{
        text-align: center;
        padding-left: 6em;
        padding-right: 9.5em;
        padding-bottom: 9px;
        padding-top: 9px;
        border-radius: 6px;
        color: white; 
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 5px;
        background-color:#1877f2;
        text-decoration: none;
        font-family: inherit;
        width: 332px;
        
    }
    .f{
        text-align: center;
        text-decoration: none;
        display: block;
        padding-top: 1em;
        color: #1877f2;
    }
    .create{
        /* margin-top: 2em; */
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
        /* padding-bottom: 12px; */
        /* padding-top: 12px; */
        border-radius: 6px;
        color: white; 
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        background-color:#42b72a;
        border: none;
        text-decoration: none;
        display: block;
        margin-left:5em;
    }
    .last{
        text-decoration: none;
        color:black;
        font-weight: bolder;
    }
    .para{
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 0;
        padding-left: 520px;
    }
    .fs_h1{
        font-size: 50px;
        font-weight: bolder;
    }
    #margin{
       margin: 10px;
       padding-right: 65px;
       /* text-align: center; */
       padding-left: 62px;
        /* display: block; */
    }
    #margin2{
        margin: 10px;
        padding-right: 57px;
        /* text-align: center; */
        padding-left: 57px;
         /* display: block; */
        background-color: blue;
        color: white;
    }
    #margin3{
        margin: 10px;
        padding-right: 57px;
        /* text-align: center; */
        padding-left: 57px;
         /* display: block; */
    }
    #margin4{
        margin: 10px;
       padding-right: 80px;
       /* text-align: center; */
       padding-left: 80px;
        /* display: block; */
    }
   #margin:hover,#margin2:hover,#margin3:hover,#margin4:hover{ 
       opacity: 0.7;
    }
    .cardimage{
        margin: 70px;
    }
    .cardimage2{
        /* margin: 10px; */
        padding: 20px;
        margin-top:42px;
    }
    .cardimage3{
        /* margin: 10px; */
        padding: 10px;
        margin-top:42px;
    }
    

    /* ________________________________________ */

    /* .login_success_main{ */
        /* box-shadow: 10px 10px 8px 10px #888888; */
    /* } */

    .Youtube_video_first{
        align-items: center;
    }
    .img1card2{
        margin-left: 60px;
    }
    .card2{
        margin-left: 150px;
    }